doctype html
html
	head
		title Abstract web-studio
	body
		header
			h1 Abstract web-studio
		aside
			nav
				a(href='/') About
				a(href='/projects.html') Projects
				a(href='/contacts.html') Contacts
		article
			block main
		footer
			p 2015 &copy; Abstract web-studio